@tailwind base;

.tcj-ac {
    & .home-bg {
        background-image: url("bg.svg");
        background-size: auto 100%;
        background-repeat: no-repeat;
        @apply h-vw wide:w-3/4 wide:mx-auto landscape:h-screen;
    }
}
